DB_URL=jdbc:mysql://localhost:3306/nhatrangstay?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
SUPABASE_SERVICE_KEY=

VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_SMS_FROM=

OPENROUTER_API_KEY=

JWT_SECRET=
